@{
    ViewBag.Title = "Gamer - Gerador";
}

@model Gamer.Models.ManagementViewModel

<h2>Gerenciador</h2>
<!-- Hidden with actions -->
@Html.Hidden("GenerateAction", Url.Action("GenerateChampionship", "Management"))

<div class="alert" id="divStatus" style="display: none">
    <strong></strong>
</div>

<div class="row">
    <div class="form-group col-md-4" style="margin: 15px;">
        @Html.LabelFor(model => model.Championships)
        @Html.DropDownListFor(model => Model.Championships,
    ((IEnumerable<Gamer.Models.ChampionshipViewModel>)Model.Championships).OrderBy(c => c.ChampionshipName).Select(option => new SelectListItem
    {
        Text = option.ChampionshipName,
        Value = option.ChampionshipId.ToString()
    }), "Escolha um Campeonato...", null)
        <button id="btnGenerateChampionship" type="button">Gerar Campeonato</button>
    </div>
</div>

<div id="sample">    
    <div id="myDiagramDiv" style="border: solid 1px black; background: #4D4D4D; width: 900px; height: 600px"></div>
</div>



@Scripts.Render("~/bundles/gojs")
@Scripts.Render("~/bundles/management")


